{
  "Strings extracted from": "https://dl.google.com/dl/android/aosp/blazer-cp3a.260905.009-factory-a9fa2056.zip",
  "COPG-VD": {
    "BRAND": "google",
    "DEVICE": "blazer",
    "MANUFACTURER": "Google",
    "MODEL": "Pixel 10 Pro",
    "FINGERPRINT": "google/blazer/blazer:17/CP3A.260905.009/16091614:user/release-keys",
    "PRODUCT": "blazer",
    "BOOTLOADER": "unknown",
    "BOARD": "blazer",
    "HARDWARE": "blazer",
    "DISPLAY": "CP3A.260905.009",
    "ID": "CP3A.260905.009",
    "HOST": "1da27864d683",
    "INCREMENTAL": "16091614",
    "TIMESTAMP": "1786738612",
    "PREVIEW_SDK": "0",
    "USER": "android-build",
    "SDK_FINGERPRINT": "REL",
    "UUID": "ohcEkthwh9AejLe1vCcngeMrIL3yVSs8CuwqLVnswd0",
    "SECURITY_PATCH": "2026-09-05"
  },
  "COPG-VD-Settings": {
    "spoof_version": "never"
  }
}
